@if (ViewBag.OeErrorMessage != null)
{
    @ViewBag.OeErrorMessage;
}
else
{
    @model OE.Web.Areas.Institution.Models.IndexResultsVM

    <br />
    <br />
    <div class="container">
        <div class="col-lg-9">
            <h3 align="center">Results</h3>
            <div class="panel panel-default" style="padding:130px; padding-top:10px">
                <form>
                    <br />
                    <input type="hidden" name="EmployeeId" id="EmployeeId" value="@Model.EmployeeId" class="form-control">
                    <label>Teacher Name</label>
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" name="searchTeacherName" id="searchTeacherName" value="@Model.EmployeeName" disabled class="form-control" required>
                    </div>
                    <br />
                    <label>Year</label>
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-calendar"></i></span>
                        <input type="text" name="CurrentYear" id="CurrentYear" value="@Model.CurrentYear" class="form-control" required>
                    </div>
                    <br />
                    <label>Exam Type</label>
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-certificate"></i></span>



                        <select class="form-control" id="ExamTypeId" name="ExamTypeId" asp-items="@(new SelectList (ViewBag.ddlExamTypeId, "Id","Name"))">
                           
                        </select>

                    </div>
                    <br />

                    <input class="btn btn-success btn-lg  btn-success" type="submit" value="Search" formmethod="get"
                           asp-controller="Results"
                           asp-action="ResultByTeacher"
                           asp-route-CurrentYear="CurrentYear"
                           asp-route-ExamTypeId="ExamTypeId"
                           asp-route-EmployeeId="EmployeeId">

                </form>
            </div>
        </div>
    </div>

    <!-- #region "All Scripts" -->

    @section Scripts
        {
        <script type="text/javascript">
            $('#CurrentYear').datepicker({
                format: "yyyy",
                viewMode: "years",
                minViewMode: "years",
                autoclose: true
            });
        </script>
    }
}

