@model OE.Web.Areas.Institution.Models.IndexOE_UsersVM
@*@{
    Layout = "~/Areas/Institution/Views/Shared/_LayoutMain.cshtml";
    ViewData["Title"] = "User Reset";
}*@
<h1 class="page-title">Reset Own Password</h1>

<br />
<br />
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>User Id</th>
                <th>Password</th>
                <th>Action </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var data in Model.OEUsersListVMs)
            {
                <tr>
                    <td class="showDetails pointer">
                        @if (data.GenderId == 1)
                        {
                            <img id="IP300X200" src=@(data.IP300X200 == null?"~/DataDictionary/images/defaultImages/GenderMale.png": "~/"+data.IP300X200) asp-append-version="true" style="height:80px;width:80px;" />

                        }
                        else if (data.GenderId == 2)
                        {
                            <img id="IP300X200" src=@(data.IP300X200 == null?"~/DataDictionary/images/defaultImages/GenderFemale.png": "~/"+data.IP300X200) asp-append-version="true" style="height:80px;width:80px;" />

                        }
                        else if (data.GenderId == 3)
                        {
                            <img id="IP300X200" src=@(data.IP300X200 == null?"~/DataDictionary/images/defaultImages/GenderThird.png":"~/"+ data.IP300X200) asp-append-version="true" style="height:80px;width:80px;" />

                        }
                        <br />@data.FirstName @data.LastName
                    </td>
                    <td class="showDetails pointer">@data.UserLoginId</td>
                    <td class="showDetails pointer">****</td>
                    <td>
                        <button class="btn btn-primary btn-sm" id="btnEditUser" name="btnEditUser" data-toggle="modal" data-target="#mdlEditUser" data-id="@data.Id" data-userloginid="@data.UserLoginId" data-password="@data.Password"><span class="glyphicon glyphicon-edit" style="vertical-align:middle;margin-top: -5px"></span>Reset Password</button>
                    </td>

                </tr>
            }

        </tbody>
    </table>
</div>

<!-- #region "All Modals" -->

<div class="modal fade" id="mdlEditUser" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Reset Password</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <label>User Login Id</label>
                    <input type="hidden" name="Id" id="Id" />
                    <input type="text" name="UserLoginId" required id="UserLoginId" disabled class="form-control">
                    <br />
                    <label>Password</label>
                    <input type="password" name="Password" required id="Password" class="form-control">
                    <br />

                    <button formmethod="post" asp-area="Institution" asp-controller="OE_Users" asp-action="ChangePassword"
                            asp-route-Id="Id"
                            asp-route-Password="Password"
                            class="btn btn-md btn-success">
                        <span class="glyphicon glyphicon-ok" style="vertical-align:middle;margin-top: -5px"></span>
                        Save
                    </button>
                    <button class="btn btn-md btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove" style="vertical-align:middle; margin-top: -5px"></span>Cancel</button>

                </form>

            </div>

        </div>

    </div>
</div>

<!-- #endregion  "All Modals"-->
<!-- #region "All Scripts" -->

@section Scripts
    {

    <script type="text/javascript">
            //JS for auto load values into reset form
            $('tr td #btnEditUser').on('click', function () {
                $("#mdlEditUser #Id").val($(this).data("id"));
                $("#mdlEditUser #UserLoginId").val($(this).data("userloginid"));
                $("#mdlEditWriter #Password").val($(this).data("password"));
            });
    </script>
}

<!-- #endregion  "All Scripts"-->

