
@model OE.Web.Areas.Institution.Models.IndexClassesVM

<div class="informationArea">
    <span class="label label-info "> Institution: @Model.InstitutionName </span>
</div>
<h1 class="page-title">All Classes</h1>
<br />
<button class="btn btn-success btn-sm " id="btnAddClasses" name="btnAddClasses" data-toggle="modal" data-target="#mdlAddClasses">
    <span class="glyphicon glyphicon-plus" style="vertical-align:middle;margin-top: -5px"></span>
    New
</button>

<label>
    <a tabindex="0" data-toggle="popover" data-trigger="focus" data-container="body" title="Tip:Classes" data-content="Example of class- One, Two, Three etc.">
        <span class="glyphicon glyphicon-info-sign" style="top:5px; font-size:larger"></span>
    </a>
</label>

<h4 class="text-danger">@ViewBag.msg</h4>
<br />
<br />
@if (Model._classesVM.Count() == 0)
{
    <div class="well"><b>No Record has been added yet.</b></div>
}

else
{
    <table class="table table-bordered table-hover" id="tblGetClasses">
        <thead>
            <tr>

                <th>Sorting No </th>
                <th> Name </th>

                <th>  </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var data in Model._classesVM)
            {
                <tr>
                    <td class="showDetails pointer">@data.Sorting</td>
                    <td class="showDetails pointer">@data.Name</td>
                    <td>
                        <button class="btn btn-primary btn-sm" id="btnEdit" name="btnEdit" data-toggle="modal" data-target="#modalEdit" data-id="@data.Id" data-name="@data.Name" data-sorting="@data.Sorting">
                            <span class="glyphicon glyphicon-edit" style="vertical-align:middle;margin-top: -5px"></span>
                            Edit
                        </button>
                        <button class="btn btn-danger btn-sm " id="btnDeleteClasses" data-toggle="modal" data-target="#modalDelete" data-id="@data.Id">
                            <span class="glyphicon glyphicon-trash" style="vertical-align:middle;margin-top: -5px"></span>
                            Delete
                        </button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <h3 style="color:red">@ViewBag.err</h3>
}


<!-- #region "All Modals" -->
<div id="mdlAddClasses" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Add Classes</h3>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" id="addClasses">
                    <label>Sorting No</label>
                    <input type="number" name="classesVM.Sorting" id="txtAddSortingNo" required class="form-control">
                    <label>Class Name</label>
                    <input type="text" name="classesVM.Name" id="txtAddClassesName" required class="form-control">
                    <hr />
                    <button class="btn btn-success btn-md" id="btnSaveNewClasses">
                        <span class="glyphicon glyphicon-ok" style="vertical-align:middle;margin-top: -5px"></span>
                        Save
                    </button>
                    <button class="btn btn-danger btn-md " data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove" style="vertical-align:middle; margin-top: -5px"></span>
                        Cancel
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modalEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Class</h4>
            </div>
            <div class="modal-body">
                <form role="form">

                    <input type="hidden" name="editClassesId" id="editClassesId">
                    <label>Sorting No</label>
                    <input type="number" name="editSortingNo" id="editSortingNo" required class="form-control">
                    <label>Class Name</label>
                    <input type="text" name="txtEditClassesName" id="txtEditClassesName" required class="form-control">
                    <hr />
                    <button class="btn btn-success btn-md" formmethod="post"
                            asp-controller="Classes"
                            asp-action="Edit"
                            asp-route-editClassesId="editClassesId"
                            asp-route-txtEditClassesName="txtEditClassesName"
                            asp-route-editSortingNo="editSortingNo">
                        <span class="glyphicon glyphicon-ok" style="vertical-align:middle;margin-top: -5px"></span>
                        Save
                    </button>

                    <button class="btn btn-danger btn-md " data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove" style="vertical-align:middle; margin-top: -5px"></span>
                        Cancel
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modalDelete" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <form enctype="multipart/form-data" id="OELicense">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Classes</h4>
                </div>

                <div class="modal-body">
                    <p><h3>Are you sure you want to delete this?</h3></p>

                </div>
                <div class="modal-footer">
                    <input type="hidden" name="classesId" id="classesId">
                    <button class="btn btn-md btn-success" id="btnDeleteclassesId">
                        <span class="glyphicon glyphicon-ok" style="vertical-align:middle;margin-top: -5px"></span>
                        Yes
                    </button>

                    <button class="btn btn-danger btn-md " data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove" style="vertical-align:middle; margin-top: -5px"></span>
                        No
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modalMessage" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Message</h4>
            </div>
            <div class="modal-body">
                <p><h3 id="txtMessage" style="color:red"></h3></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-md " data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove" style="vertical-align:middle; margin-top: -5px"></span>
                    Ok
                </button>
            </div>

        </div>
    </div>
</div>

<!-- #endregion  "All Modals"-->
<!-- #region "All Scripts" -->

@section Scripts
    {
    <script type="text/javascript">
        //[NOTE: Tip]
        $('[data-toggle="popover"]').popover({
            trigger: 'focus'
        })
        $('tr td #btnEdit').on('click', function () {
            $("#editClassesId").val($(this).data("id"));
            $("#txtEditClassesName").val($(this).data("name"));
            $("#editSortingNo").val($(this).data("sorting"));

        });

         //[NOTE:JS for passing Id while trying to delete a record.]
        $('#tblGetClasses tr td #btnDeleteClasses').on('click', function () {
            $("#classesId").val($(this).data("id"));
            });



        $("#btnDeleteclassesId").on('click', function (e) {
            e.preventDefault();
            var classesId = $('input#classesId').val();
            $.ajax({
                type: 'POST',
                data: { classesId: classesId },
                dataType: 'json',
                cache: false,
               url: '@Url.Action("DeleteClasses", "Classes", new { Area = "Institution" })',
                success:                 
                    function (data) {
                        if (data.success == true) {
                            location.reload();
                        }
                        if (data.success == false) {
                            $('#txtMessage').text(data.message);
                            $('#modalMessage').modal('show');
                        }
                    },
                error: function (data) {
                },
                complete: function (data) {
                }               
             });
        });


        $("#btnSaveNewClasses").on('click', function (e) {
            e.preventDefault();
            var formData = new FormData($("#addClasses")[0]);
             $.ajax({
               type: 'POST',
               data: formData,
               contentType: false,
               processData: false,

               url: '@Url.Action("InsertClasses", "Classes", new { Area = "Institution" })',
                 success: function (response) {
                     location.reload();
                 },
                 error: function (response) {
                     alert('error: ' + response.message);
                 },
                 complete: function () {
                 }
                });
        });


    </script>
}

<!-- #endregion  "All Scripts"-->
