@model OE.Web.Areas.Institution.Models.IndexRegistrationFormByAdminVM

<div class="informationArea">
    <span class="label label-info "> Institution: @Model.InstitutionName </span>
</div>
<h1 class="page-title">Employee Registration Form</h1>
<br />

<div id="message" class="text-center" @(ViewBag.successMsg == null && ViewBag.errorMsg == null ? "hidden" : "")>
    <h2 class="text-success"><label>@ViewBag.successMsg</label></h2> <h2 class="text-danger"><label>@ViewBag.errorMsg</label></h2>
</div>
<div class="panel-group" id="accordion">
   <form enctype="multipart/form-data" method="get" id="basicInsertForm" asp-action="EmployeeRegistrationForm" asp-controller="Registrations">
       <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse">
                        <b>Basic Information</b>
                    </a>
                </h4>
            </div>
            <div class="panel-collapse">
                <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12" id="BasicViewSection">
                                <div class="col-md-6">                                   
                                    <div class="row" style="padding:2px">
                                        <div class="col-md-5">
                                            <label>OurEdu Id:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input class="form-control" type="text" name="Employees.UserLoginId" value="@(Model.Employees == null?"": Model.Employees.UserLoginId)" required />
                                        </div>
                                    </div>                                   
                                    <div class="row" style="padding:2px">
                                        <div class="col-md-5">
                                            <label>First Name:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input class="form-control" type="text" name="Employees.FirstName" value="@(Model.Employees == null?"": Model.Employees.FirstName)" required />
                                        </div>
                                    </div>
                                    <div class="row" style="padding:2px"> 
                                        <div class="col-md-5"><label>Last Name:</label></div>
                                        <div class="col-md-7">
                                            <input class="form-control" type="text" name="Employees.LastName" value="@(Model.Employees == null?"": Model.Employees.LastName)" /></div>
                                    </div>
                                    <div class="row" style="padding:2px">
                                        <div class="col-md-5">
                                            <label>Gender:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <select class="form-control"
                                                    id="GenderId"
                                                    asp-for-id="GenderId"
                                                    name="Employees.GenderId"
                                                    asp-items="@(new SelectList (ViewBag.ddlGender, "Id","Name"))"></select>
                                        </div>
                                    </div>
                                    <div class="row" style="padding:2px"> 
                                        <div class="col-md-5">
                                            <label>Date Of Birth:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input class="form-control datepicker" type="text" name="Employees.DOB" value="@(Model.Employees == null?"": Model.Employees.DOB.ToShortDateString())" />
                                         </div>
                                      </div>
                                    <div class="row" style="padding:2px"> <div class="col-md-5"><label>Email:</label></div><div class="col-md-7"><input class="form-control" type="text" name="Employees.EmailAddress" value="@(Model.Employees == null?"": Model.Employees.EmailAddress)" /></div></div>
                                    <div class="row" style="padding:2px"> <div class="col-md-5"><label>Contact No:</label></div><div class="col-md-7"><input class="form-control" type="text" name="Employees.ContactNo" value="@(Model.Employees == null?"": Model.Employees.ContactNo)" /></div></div>
                                    <div class="row" style="padding:2px"> 
                                        <div class="col-md-5">
                                            <label>Present Address:</label>
                                        </div>
                                        <div class="col-md-7"> 
                                            <textarea name="Employees.PresentAddress" class="form-control" rows="3">@(Model.Employees == null?"": Model.Employees.PresentAddress)</textarea>
                                        </div>
                                    </div>
                                    <div class="row" style="padding:2px"> <div class="col-md-5"><label>Permanent Address:</label></div><div class="col-md-7"> <textarea name="Employees.PermanentAddress" class="form-control" rows="3">@(Model.Employees == null?"": Model.Employees.PermanentAddress)</textarea></div></div>
                                    <div class="row" style="padding:2px"> <div class="col-md-5"><label>Joining Date:</label></div><div class="col-md-7"><input class="form-control datepicker" type="text" name="Employees.JoiningDate" value="@(Model.Employees == null?"": Model.Employees.JoiningDate.ToShortDateString())" /></div></div>

                                    <div class="row" style="padding:2px">
                                        <div class="col-md-5"><label>Type of Employee:</label></div><div class="col-md-7">
                                            <select class="form-control"
                                                    id="EmpType"
                                                    asp-for-id="Id"
                                                    name="EmployeeTypeId"
                                                    asp-items="@(new SelectList (ViewBag.ddlEmpType, "Id","Name"))">
                                                <option value="value">Select Employee Type</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row" style="padding:2px" id="ddlDesignation" hidden>
                                        <div class="col-md-5"><label>Designation:</label></div><div class="col-md-7">
                                            <select class="form-control" id="EmpCtgType" asp-for-id="Id" name="EmployeeCategoryTypeId" asp-items="@(new SelectList(string.Empty, "Id", "Name"))"></select>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">

                                    <img id="empImage" src=@(Model.Employees == null?"~/DataDictionary/images/defaultImages/GenderThird.png": "~/"+ Model.Employees.IP300X200) asp-append-version="true" style="height:270px;width:270px;" />
                                    <input type="file" name="Employees.EmployeeImage"
                                           onchange="document.getElementById('empImage').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                            </div>
                            <!--#endregion "Basic Information View Section"-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />        
        <button type="button" class="btn btn-success"
                id="btnSave">
            <span class="glyphicon glyphicon-ok" style="vertical-align:middle;margin-top: -5px"></span>
            Finish Registration
        </button>        
    </form>
</div>

<div class="modal fade" id="MessageBox" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center" id="exampleModalLongTitle">Message</h3>
            </div>
            <div class="modal-body text-center text-danger">

                <h3 id="msg"></h3>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript">
        $(".datepicker").datepicker({
            format: "dd/MM/yyyy",
            autoclose: true
        });
        $("#message").delay(1000).fadeOut(1000);

        $("#EmpType").on('change', function () {
        var url = '@Url.Action("DropDown_EmployeeCategoryTypes", "Registrations", new { Area = "Institution" })';
        var empTypeId = $('#EmpType').val();
        $.getJSON(url, { id: empTypeId }, function (jsonResult) {
            if (jsonResult.length >1) {
                var item = '';
                $("#EmpCtgType").empty();
                $.each(jsonResult, function (i, row) {
                    item += "<option value='" + row.value + "'>" + row.text + "</option>";
                });
                $('#EmpCtgType').html(item);
                $("#ddlDesignation").show();
            } else {
                $("#ddlDesignation").hide();
            }
        })
        });
        
        $("#btnSave").on('click', function () {
            var formData = new FormData($("#basicInsertForm")[0]);
                $.ajax({
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,


                    url: '@Url.Action("AddRegistrationFormByAdmin", "Registrations", new { Area = "Institution" })',
                    success: function (data) {
                        if (data != null) {
                            if (data.errorMessage ==null) {
                                location.reload();
                            } else {
                                $('#msg').text(data.errorMessage);
                                $('#MessageBox').modal();
                            }
                        }
                        else {
                            location.reload();
                        }
                    }
                });
        });
       

    </script>
}


